---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Lato", Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
//$heading-font-family: 'Arvo', serif;
$heading-font-family: 'Syncopate', sans-serif;
$heading-font-weight: 700;

$spacing-unit:     30px;

//COLORS
$green: #7CB82F;
$green-dark: rgb(17, 25, 2);
$green-light: rgb(192, 207, 181);
$green-lightest: lighten($green-light, 20%);
$blue: #00AEB3;
$blue-light: lighten($blue, 20%);

$black: $green-dark;
$white: $green-lightest;

$text-color:       $black;
$background-color: $green-lightest;
$brand-color:      $blue;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1100px;

$on-palm:          600px;
$on-laptop:        1100px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@mixin has-inset-border($color) {
    position: relative;
    &:after {
      position:absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        content:" ";
   
        //height: 100%; /*Set pixel height and width if not defined in parent element*/
        //width: 100%;

        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;

        border:1px dashed $color; /*set your border style*/
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
